/* Style the navbar */
div.navbar {
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 40px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Navbar links */
div.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

div.navbar a:hover{
  background: #eee; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ddd, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ddd, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ddd, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ddd, #fff); /* Standard syntax */
  color: #555;
}

div.polaroid {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  max-width: 250px;
  height: 300px;
  margin: 5px;
}

div.container {
  padding: 10px;
}